@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div#sectionRight{
    position: absolute; 
    right: 0; 
    width: 450px;
    height: 100%;
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: #acaca870 solid 1px;
}

div.infoComponent{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0px 30px 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

div.crud{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div button.editSectionRight{
    display: flex;
    align-items: left;
    margin: 2px;
    margin-left: 0;
    height: 25px;
    width: 100%;
    border: 1px solid #999999;
    border-left: 0;
    border-right: 0;
    color: #999999;
    background-color: white;
    cursor: pointer;
}

div button.rmSectionRight{
    display: flex;
    margin: 2px;
    height: 25px;
    width: 100%;
    border: 1px solid #999999;
    border-left: 0;
    border-right: 0;
    color: #999999;
    background-color: white;
    cursor: pointer;
}

h3#nameComponent{
    margin-bottom: 3px;
}

h6.typeComponent{
    color: #999999;
}

